<div class='page'>
	<h1>Added Record</h1>

	<lable> Time: 
	<%= @occurrence.time %><br>
	<label> Antecedent:
	<%= @occurrence.antecedent %><br>

	<br><br>

	<%= link_to 'See All Record', '/occurrences'%>
	<%= link_to 'Back', '/occurrences/new'%>
</div>

